#why-come-intro {
  padding-top: 60px;
  max-width: 700px;
  margin: auto;
}

@media (max-width: 768px) {
  #why-come-intro {
    padding-top: 20px;
  }
}

#why-come-intro-quote {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.why-come-intro-body {
  margin-bottom: 1rem;
}

#long-description-explainer {
  position: absolute;
  top: -2px;
  right: -20px;
  font-size: 0.6rem;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}