# Temp maybe just want to simplify committing
static/experience.html
static/project.html
static/timing.html

# Local Netlify folder
.netlify

.DS_Store

.hugo_build.lock

# Local Hugo output folder
public/

# node_modules, anywhere
node_modules/
package-lock.json
