# Local Netlify folder
.netlify

.DS_Store

.hugo_build.lock

# Local Hugo output folder
public/

# node_modules, anywhere
node_modules/
package-lock.json

# when the admin app is built and added to static of hugo, don't track it
eclipse-site/static/admin