body {
  font-family: 'Verdana', sans-serif;
  background-color: #F7EFE6;
  color: #333;
  margin: 0;
  padding: 0;
}

.landing-page {
  padding: 2rem;
  margin: 0;
  background: linear-gradient(to top, #ffffff 50%, #FFA500 100%);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  height: 100vh; /* takes full height of viewport */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* spaces elements out */
  font-family: Arial, sans-serif; /* classic web 1.0 font */
  width: 100%; /* takes full width */
  box-sizing: border-box; /* new addition */
}

.landing-page-title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

.landing-page-description {
  font-size: 1.5rem;
  color: #666666;
  text-align: center;
  margin-bottom: 4rem;
}

.signup-button {
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background-color: #4a56e2;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  align-self: flex-end; /* pushes the button to the bottom */
}

.signup-button:hover {
  background-color: #3b47d6;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;  /* or however tall you want the header to be */
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1; /* this makes the header go behind everything else */
}

.business-header {
  text-align: center;
  padding: 20px;
  border: 1px dotted #924747;
  margin: 20px auto;
  max-width: 800px;
}

.business-title {
  font-size: 2.5em;
}

.business-tagline {
  font-size: 1.4em;
  margin-top: 10px;
}

.special-hours {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}

.special-hours h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}


.promos-pane {
  background-color: #E9F2F4;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

.promo {
  margin: 30px auto;
}

.promo-name, .promo-description {
  text-align: center;
  margin: 0;
  color: #3E5577;
}

.promo-description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #AED9DA;
}

.detail-label {
  font-size: 0.8em;
  color: #3E5577;
}

.detail-value {
  font-size: 1.2em;
  color: #3E5577;
}

.donate-button {
  display: block;
  background-color: #3E5577;
  color: #FFF;
  padding: 10px 20px;
  margin: 20px auto;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
}
