{{ define "main" }}
<div class="business-header">
  <h1 class="business-title">{{ .Title }}</h1>
  {{ with .Params.tagline }}
    <h2 class="business-tagline">{{ . }}</h2>
  {{ end }}
</div>

{{ with .Params.image }}
  <div class="header-image" style="background-image: url('{{ . }}');"></div>
{{ end }}

{{ with .Params.special_hours }}
<div class="special-hours">
  <h3>Special Eclipse Weekend Hours</h3>
    {{ range . }}
    <p>{{ . }}</p>
    {{ end }}
</div>
{{ end }}

<div class="flag-interest-pane special-hours">
  <h3>Let Them Know You're Interested!</h3>
  <div class="flag-interest-prompt">Think you'd like to visit this business over the Eclipse Weekend? Click an option below to help them gauge the extra demand.</div>
  <a class="donate-button" href="#">Coming Before Friday</a>
  <a class="donate-button" href="#">Coming Friday</a>
  <a class="donate-button" href="#">Coming Saturday</a>
  <a class="donate-button" href="#">Coming Sunday</a>
  <a class="donate-button" href="#">Coming Monday</a>
  <a class="donate-button" href="#">Not sure when, but I'll be there at some point</a>
</div>

<div class="promos-pane">
  <h1 class="promo-name">Promos On Offer</h1>
{{ range .Params.promos }}
  <div class="promo">
    <h2 class="promo-name">{{ .name }}</h2>
    <p class="promo-description">{{ .description }}</p>
    <div class="details">
      <div class="detail-element">
        <span class="detail-label">Donation Price:</span>
        <span class="detail-value">${{ .donation_price }}</span>
      </div>
      <div class="detail-element">
        <span class="detail-label">Purchase Price:</span>
        <span class="detail-value">${{ .purchase_price }}</span>
      </div>
      <div class="detail-element">
        <span class="detail-label">Inventory:</span>
        <span class="detail-value">{{ .inventory }}</span>
      </div>
    </div>
    <a class="donate-button" href="#">Donate to get this promo ➡</a>
  </div>
  <hr/>
{{ end }}
</div>

{{ end }}
