{{ define "main" }}
<h1 class="business-title">{{ .Title }}</h1>

<div class="promos-pane">
{{ range .Params.promos }}
  <div class="promo">
    <h2 class="promo-name">{{ .name }}</h2>
    <p class="promo-description">{{ .description }}</p>
    <div class="details">
      <div class="detail-element">
        <span class="detail-label">Donation Price:</span>
        <span class="detail-value">${{ .donation_price }}</span>
      </div>
      <div class="detail-element">
        <span class="detail-label">Purchase Price:</span>
        <span class="detail-value">${{ .purchase_price }}</span>
      </div>
      <div class="detail-element">
        <span class="detail-label">Inventory:</span>
        <span class="detail-value">{{ .inventory }}</span>
      </div>
    </div>
    <a class="donate-button" href="#">Donate to get this promo ➡</a>
  </div>
  <hr/>
{{ end }}
</div>

{{ end }}
