<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oregon County Eclipse</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="landing-page">
        <h1 class="landing-page-title">The Eclipse comes to Oregon County, Missouri on April 8, 2024</h1>
        <p class="landing-page-description">Visitors - Join us in celebrating the 2024 Solar Eclipse – get special access to local treasures through our unique promotions. Your contribution will create immediate and lasting enhancements, shaping our community for an unforgettable eclipse weekend and inviting you back for more enchanting visits in the future.</p>
        <a href="/signup?type=visitor" class="signup-button">
            Sign Up as a Visitor
        </a>
        <p class="landing-page-description">Locals - You have an opportunity to offer up an experience to the many visitors we will host that weekend. This site will help you to put out the word and accept paid reservations for things like farm experiences and eclipse viewing from a scenic spot on your land.</p>
        <a href="/signup?type=local" class="signup-button">
            Sign Up as a Local
        </a>
    </div>
</body>
</html>
